PORT=3000

TELEGRAM_TOKEN=8764453898:AAHrqRZ6Cu0PCrx5-Z2brrRHv5MrOh4HMNs
TELEGRAM_CHAT_ID=8530879122

SUPABASE_URL=https://gdzunlgyttxwltfnbstj.supabase.co
SUPABASE_KEY=sb_publishable_f1jiRa6hAaJ7zbIsS9nrWQ_cQ18O8cw
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkenVubGd5dHR4d2x0Zm5ic3RqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIzNjU5MTAsImV4cCI6MjA5Nzk0MTkxMH0.34gm4IVgnaDsUiIyzkA2ia827Utje-emLMsli72HvNg

# Mercado Livre Love Eletro
ML_CLIENT_ID=1859299942877011
ML_CLIENT_SECRET=oqBOKg2dscF1b1q1yTS8bK0MhmCFcShd
ML_ACCESS_TOKEN=APP_USR-1859299942877011-041715-693750abc18975b04cca7afe6fbe23c3-2929638654
ML_REFRESH_TOKEN=TG-69e28de60254460001a6299e-2929638654
